.cart {
  display: flex;
  margin-top: 5vh;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 120rem;
    align-items: center;
    gap: 1rem;
  }

  &-add-btn {
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;

    background-color: $color-primary-light;

    &:hover {
      color: $color-white;
      background-color: $color-primary-200;
    }

    &:active {
      transform: translate(-1px, -1px);
      box-shadow: 1px 1px 20px rgba($color-black, 0.1);
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    margin: 0 1rem !important;

    &__btn {
      width: 24px;
    }
  }

  &-link {
    cursor: pointer;
    color: $color-primary-200;

    &:hover {
      color: $color-secondary-300;
      text-decoration: underline;
    }
  }

  &-remove {
    display: block;
    @include font-paragraph(300);
  }

  &-item {
    display: grid;
    grid-template-columns: 10rem 1fr 20rem 10rem;
    width: 100%;
    height: 10rem;
    padding: 0.5rem 1rem;

    &-smalltext {
      @include font-paragraph(300);
    }

    &-name {
      display: flex;
      padding: 1rem;
      align-items: center;
    }
  }

  &-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &-remove {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__btn {
      cursor: pointer;
      width: 2.4rem;
      color: $color-primary-300;

      &:hover {
        color: $color-primary-100;
      }
    }

    &__link {
      @include font-paragraph(300);
      cursor: pointer;
      color: $color-primary-300;

      &:hover {
        color: $color-primary-100;
        text-decoration: underline;
      }
    }
  }

  &-linetotal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
  }
}
