.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh 0 0 0;

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 120rem;
    margin: 0 10vw;
    gap: 1rem;

    @media (max-width: $screen-width-medium) {
      grid-template-columns: 1fr;
    }

    &-heading {
      grid-column: 1 / -1;
      @include font-heading(400);
      color: $color-black-100;
    }

    &-left {
      margin-right: 1em;
    }

    &-right {
      @include font-paragraph(300);
      color: $color-black-100;
      margin: 1rem;
    }
  }

  &-reset {
    &-link {
      @include font-paragraph(200);
      color: $color-primary-100;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $color-secondary-300;
      }
    }
  }
}

.reset {
  display: flex;
  justify-content: center;
  margin: 10vh;

  &-heading {
    @include font-heading(400);
  }

  &-container {
    width: 100%;
    max-width: 50rem;
  }

  &-notification {
    @include font-paragraph(200);
    display: block;
    margin-top: 2rem;
    text-align: center;
  }

  &-invalid {
    @include font-paragraph(200);
    display: block;
    margin-top: 2rem;
    text-align: center;
  }
}
