.hero {
  position: relative;

  &-polygon {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: $color-primary-100;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);

    @media (max-width: $screen-width-medium) {
      clip-path: unset;
      -webkit-clip-path: unset;
    }

    @media (max-height: $screen-height-medium) {
      clip-path: unset;
      -webkit-clip-path: unset;
    }
  }

  &-box {
    max-width: 160rem;
    width: 100%;
    height: 50vh;
    padding: 0 5rem;
    transform: translateY(20%);

    @media (max-width: $screen-width-large) {
      transform: translateY(15%);
    }

    &__text {
      @include font-heading(100);
      display: inline;
      color: $color-gray-100;
      margin: 5rem 0;

      @media (max-width: $screen-width-large) {
        margin: 1rem 0;
        display: block;
      }

      @media (max-width: $screen-width-small) {
        @include font-heading(150);
      }
    }

    &__link,
    &__link:visited {
      @include font-heading(400);
      position: relative;
      cursor: pointer;
      display: inline-block;
      padding: 1rem 2rem;
      margin: 2rem 0;
      border-radius: 15px;
      color: $color-gray-100;
      background-color: $color-primary-300;
      transition: all 0.3s;
      z-index: 1;

      @media (max-width: $screen-width-small) {
        @include font-paragraph(100);
      }
    }

    &__link:hover {
      background-color: $color-primary-200;
    }

    &__link:active {
      background-color: $color-primary-300;
    }
  }

  &-image {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: 1;

    @media (max-width: $screen-width-large) {
      width: 40%;
    }

    @media (max-width: $screen-width-medium) {
      display: none;
    }
  }
}
