.hero {
  position: relative;

  &-polygon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40vh;

    background-image: linear-gradient(
        45deg,
        rgba($color-primary-100, 1),
        rgba($color-primary-300, 0.9)
      ),
      url("../../../images/background.webp");
    background-size: 100%;
    background-position: center center;
    // clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    // -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

    // @media (max-width: $screen-width-medium) {
    //   clip-path: unset;
    //   -webkit-clip-path: unset;
    // }

    // @media (max-height: $screen-height-medium) {
    //   clip-path: unset;
    //   -webkit-clip-path: unset;
    // }
  }

  &-box {
    max-width: 160rem;
    width: 100%;
    padding: 0 7rem;

    &__text {
      @include font-heading(100);
      display: inline;
      color: $color-gray-100;
      margin: 0;

      @media (max-width: $screen-width-large) {
        margin: 1rem 0;
        display: block;
      }

      @media (max-width: $screen-width-medium) {
        @include font-heading(200);
      }
    }

    &__link,
    &__link:visited {
      @include font-heading(400);
      position: relative;
      cursor: pointer;
      display: inline-block;
      padding: 1rem 2rem;
      margin: 2rem 0;
      border-radius: 15px;
      color: $color-gray-100;
      background-color: $color-primary-300;
      transition: all 0.3s;
      z-index: 1;

      @media (max-width: $screen-width-medium) {
        @include font-paragraph(100);
      }
    }

    &__link:hover {
      background-color: $color-primary-200;
    }

    &__link:active {
      background-color: $color-primary-300;
    }
  }
}
