.products {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0 2rem;
    max-width: 120rem;
    gap: 2rem;

    @media (max-width: $screen-width-medium) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 20rem;
    box-shadow: 2px 2px 10rem rgba($color-black, 0.1);

    &-link {
      @include font-paragraph(200);
      cursor: pointer;

      @media (max-width: $screen-width-small) {
        display: none;
      }

      &:hover {
        color: $color-secondary-300;
      }
    }

    &__image {
      width: 20rem;
      height: 100%;
      max-height: 20rem;

      &-none {
        @include font-paragraph(300);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
        border: 1px solid rgba($color-black, 0.1);
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 65%;
      gap: 1rem;
      padding: 1rem;

      @media (width: $screen-width-small) {
        width: 50%;
      }

      &-top {
        display: flex;
        flex-direction: column;
      }

      &-bottom {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        &-left {
          display: flex;
          flex-direction: column;
        }

        &-right {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }

      &__header {
        @include font-heading(300);

        @media (max-width: $screen-width-small) {
          display: none;
        }

        &-small {
          @include font-heading(400);

          @media (min-width: $screen-width-small) {
            display: none;
          }

          &-link {
            cursor: pointer;
            color: $color-black;
            text-decoration: underline;

            &:active {
              color: $color-secondary-300;
            }
          }
        }
      }

      &__description {
        @include font-paragraph(200);
        color: $color-black-100;

        @media (min-width: $screen-width-small) {
          @include font-paragraph(300);
        }
      }

      &__price {
        @include font-heading(350);

        @media (max-width: $screen-width-small) {
          @include font-paragraph(350);
        }
      }

      &__quantity {
        @include font-paragraph(300);

        @media (max-width: $screen-width-small) {
          display: none;
        }
      }
    }
  }
}
