// This is for elements for the signup and login page
.auth {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  width: 100%;
  background-color: $color-gray-100;
  border: 1px solid $color-gray-200;
  border-radius: 10px;

  &-input {
    @include font-paragraph(250);
    color: $color-black-200;
    width: 100%;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  &-input::placeholder {
    color: $color-black-200;
  }

  &-input:focus {
    outline: none;
    border-bottom: 1px solid rgba($color-primary-200, 0.5);
  }

  &-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &-tos {
    &__text {
      @include font-paragraph(300);
      color: $color-black-200;
      width: 100%;
      height: 20rem;
      resize: none;
      padding: 1rem;
      border: 0;
      box-shadow: 1px 1px 5px rgba($color-black-300, 0.1);
      border-radius: 10px;
    }

    &-accept {
      &__checkbox {
        color: $color-primary-100;
        border: 1px solid black;
        margin: 0 1rem 0 0;
      }

      &__text {
        @include font-paragraph(200);
      }
    }
  }

  &-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 0 0;

    @media (max-width: $screen-width-small) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
    }

    &__btn {
      @include font-paragraph(200);
      cursor: pointer;
      border: 0;
      background-color: $color-secondary-100;
      border-radius: 10px;
      color: $color-black-300;
      padding: 0.5rem 2rem;
      box-shadow: 2px 2px 10px rgba($color-black-300, 0.25);
    }

    &__btn:active {
      transform: translate(-1px, -1px);
    }

    &__btn:hover {
      background-color: $color-secondary-200;
    }
  }
}
