$color-primary-100: #6a17ab;
$color-primary-200: #4a1078;
$color-primary-300: #2a0944;

$color-secondary-100: #60ffe5;
$color-secondary-200: #4dccb7;
$color-secondary-300: #3fa796;

$color-tertiary-100: #fec260;
$color-tertiary-200: #cc9c4d;
$color-tertiary-300: #99753a;

$color-accent-100: #ff0054;
$color-accent-200: #d40046;
$color-accent-300: #a10035;

$color-white: #ffffff;

$color-gray-100: #eeeeee;
$color-gray-200: #dddddd;
$color-gray-300: #cccccc;

$color-black-100: #333333;
$color-black-200: #222222;
$color-black-300: #111111;

$color-black: $color-black-300;

$color-error: #ff1b1b;
